@import "tailwindcss";
@layer utilities {
  @keyframes float-slow {
    0% {
      transform: translateY(0);
      opacity: 0.8;
    }
    50% {
      transform: translateY(-8px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 0.8;
    }
  }

  .animate-float-slow {
    animation: float-slow 3s ease-in-out infinite;
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes bubbleZoom {
  0%,
  100% {
    transform: scale(1) translateY(0);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.4) translateY(-30px);
    opacity: 0.9;
  }
}
@layer utilities {
  @keyframes slideX {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30px);
    }
  }
  .animate-slideX {
    animation: slideX 4s ease-in-out infinite;
  }

  @keyframes floatY {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  .animate-floatY {
    animation: floatY 5s ease-in-out infinite;
  }
}
.animate-bubbleZoom {
  animation: bubbleZoom 6s ease-in-out infinite;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 20s linear infinite;
}
